:root{
    --Verydarkblue: hsl(212, 21%, 14%);
    --Darkgrayishblue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --Darkcyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: var(--Cream);
    height: 800px;
    width: 1440px;
}

.main-containar{
    display: flex;
    justify-content: space-between;
    align-items: center ;
    flex-wrap: nowrap;
    position: relative;
    height: 460px;
    align-content: center;
    background-color: var(--White);
    margin: auto;
    width:600px;
    border-radius: 0.625rem;  
    top: 200px;
}

.section{
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 48%;
    display: inline-flex;
    padding-left: 10px;
}

img{
    height: 100%;
    border-top-left-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
    width: 48%;
}

.p-one{
    letter-spacing:7px;

}
del{
    font-size: 12px;
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 10px;
    display: inline-block;
}

.p-two{
    line-height: 25px;
}

p,span,del{
    color: var(--Darkgrayishblue);
}

h1{
    font-family: 'Fraunces', serif; 
    width: 80%;
    line-height: 32px;
}

a {
    text-decoration: none;
    color: var(--White);
    background-color: var(--Darkcyan);
    height: 50px;
    width: 90%;
    text-align: center;
    border-radius: 0.625rem;
    padding-top: 15px;
}